<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/recuperar.css">
    <title>Recuperar Contraseña</title>
    </head>
<body>
    <div class="container">
        <h2 class="title">Recuperar Contraseña</h2>
        <div class="form-card">
            <input type="email" placeholder="Ingresa tu email" class="email-input">
            <button class="send-button">Enviar Enlace</button>
            <a href="inicio.html" class="back-link">Volver al Login</a>
        </div>
    </div>
</body>
</html>